    <nav class="links" aria-label="외부 링크">
        <a href="https://github.com/AhnSeongHyun/" rel="me">↗ github</a>
        <a href="https://x.com/sh84ahn" rel="me">↗ x</a>
        <a href="https://www.instagram.com/ash84/" rel="me">↗ instagram</a>
        <a href="https://www.linkedin.com/in/seonghyun-ahn-9098a640/" rel="me">↗ linkedin</a>
        <a href="https://leica.ash84.io">↗ gallery</a>
        <a href="https://music.apple.com/kr/playlist/ash84/pl.u-d2b05VluBE3PDA?l=en">↗ playlist</a>
    </nav>
